{{ define "header" }}
  {{ partial "topnav" }}
{{ end }}
{{ define "main" }}
<main class="container prose dark:prose-invert">
  <header class="text-center mb-8 mt-20">
    <h1 class="text-5xl mb-1">€Money€</h1>
    <p class="my-0 text-gray3">If you appreciate my work, or, want to help me buy bread...donate.</p>
  </header>

  <div class="mx-auto w-24 h-1 my-12 bg-gradient-to-r from-gray5 to-gray4 rounded-full"></div>
  {{ range .Pages }}
  <article>
        <a class="mb-6 no-underline" href="{{ .RelPermalink }}">
        <h2 class="gradient-text-pink inline-block mb-0">{{ .Title }}</h2>
        <span class="text-gray3">{{ .Content }}</span>
        </a>  
  </article>
  
  <div markdown="1">
# Donations
# MONERO (XMR)

![](https://hackmd.io/_uploads/r1yAig_H2.png)


## 47Hn9WEu2v7MWHDKpUZNJKBU6QKDX9tu4HkzyNPYNtrSKin4uQkkeLXTFD3mejaiiPSH7spwxKBWpEGF6Q9VFE826Lbs3nf

# BTC

![](https://hackmd.io/_uploads/HyL2Fldrh.png)

## `bc1qzr7dtqn0pppdv9xpzsud76ygvhlenng8ku75v3`

    
    This is a *Markdown* Paragraph.
</div>

  
  
  {{ end }}
</main>
{{ end }}


{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}
