{{ define "footer" }}
  {{ partial "footer" }}
{{ end }}

<html class="dark">
  <head>
    <meta charset="utf-8">
    <title>Contributors</title>
    <title>€Money€</title>

<div class="tip" markdown="1">Have **fun!**</div>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/svelte/index.80f33729.css" />
    <script type="module" defer src="/svelte/index.593cd389.js" /></script>
<h6>Helpful Links</h6>
    </div>

  </body>
</html>
</html>
